{% extends "base.html" %}
{% load voyage_extras %}

<!-- This is the basic template to be inherited from
for all pages in the About section (except for the index page)-->
{% block title %}{{ flatpage.title }}{% endblock %}

{% block csslist %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/about/about.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/about/about-team.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/about/about-acks.css">
	{% block pagecsslist %}
		
	{% endblock %}
{% endblock %}

{% block content %}
	{% block left-menu %}
		<div id="left-menu" class="left-menu-box">
			{% include "about/left-menu.html" %}
		</div>
	{% endblock %}

	<div id="center-content">	
		<div id="center-content-inner">
			{% block center-content %}
			    {{ flatpage.content|parse_blocks }}
			{% endblock %}
		</div>
	</div>
{% endblock %}

{% block footer %}
	{% include "footer.html" %}
{% endblock %}